.cool-link {
	display: inline-block;
	color: white;
	text-decoration: none;
}

.cool-link::after {
	content: '';
	display: block;
	width: 0;
	height: 0.5px;
	background: white;
	transition: width .3s;
	text-decoration: none;
}

.cool-link:hover::after {
	width: 100%;
	text-decoration: none;
}

footer li {
	list-style: none;
	padding: 0px 5px 5px 0px;
}

footer ul li {
	display: inline-block;
}

footer body {
	width: 100%;
}

footer {
	background-color: #2b1732;
	
/* 	gradient */
background: rgb(94,9,92); /* Old browsers */
background: -moz-linear-gradient(top, rgba(94,9,92,1) 0%, rgba(14,14,14,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(94,9,92,1) 0%,rgba(14,14,14,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(94,9,92,1) 0%,rgba(14,14,14,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5e095c', endColorstr='#0e0e0e',GradientType=0 );
/* 	gradient end */
	
	padding : 8px ;
	width: 100%;
	box-sizing: border-box;
	position: absolute;
	opacity:3px;
}

hr.style-six {
	border: 0;
	height: 0;
	border-top: 1px solid rgba(0, 0, 0, 0);
	border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}