@charset "UTF-8";

#meetup-plan-contents{
  	width:100%;
  	height:310px;
  	background-color: white;
  	border-radius: 10px;
  	
}

#meetup-plan-contents:hover{
	box-shadow: 1px 1px 10px #ddd;
	transition: transform .35s;
	cursor: pointer;
}

#btag{
  display: inline-block;
	width: 520px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;

	
	white-space: normal;
	line-height: 1.2;
	height: 2.5em;
	text-align:left;
	word-wrap: break-word;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
}


#nextMeeting-contents{
	display: inline-block;
	width: 500px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;

	
	white-space: normal;
	line-height: 1.2;
	height: 3.6em;
	text-align:left;
	word-wrap: break-word;
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
}

   #meetup-img{
   	width:250px;
   	height:150px;
   	margin: 0 auto;
   	margin-top: 20px;
   }
   
   #meetup-img img{
	width: 100%;
	height: 100%;
	border-radius: 10px;
   }
   
 #meetup-btn{
 	width:100%;
 	text-align: center;
 	height:50px;
 	margin-top: 15px;
 }
 
 #meetup-location{
 	
 	margin-left: 25px;
 	
 	display: inline-block;
	width: 250px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;

	
	white-space: normal;
	line-height: 1.2;
	height: 3.6em;
	text-align:left;
	word-wrap: break-word;
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
 }