@charset "UTF-8";

div{
	box-sizing: border-box;
}


#contents{
	margin-top:10px;
	background-color: #f4f6f7;
}

#wrapper{
	margin: 0 auto;
	width:1000px;
	background-color: white;
	border-radius: 30px;
}

#upload-wrapper{
	width:100%;
	height:30px;
}

#photo-wrapper{
	width:100%;
}



.col-md-4 img{
	width:100%;
	height:100%;
}




#pola-img {
  width: 300px;
  height: 200px;
}
#pola-img-plus{
	width:260px;
  height: 190px;
  margin-left: 10px;
}

#up:hover{
	cursor:pointer;
}


.wrapper {
  width: 100%;
  padding: 0 2rem;
  text-align: center;
}
.polaroid {
  background: #fff;
  padding: 1rem;
  box-shadow: 0 0.25rem 1rem rgba(0,0,0,0.2);
}
.caption {
  font-size: 1.125rem;
  text-align: center;
  line-height: 2em;
}
.item {
  display: inline-block;
  margin-top: 2rem;
  filter: grayscale(100%);
}
.item .polaroid:before {
  content: '';
  position: absolute;
  z-index: -1;
  transition: all 0.35s;
}
.item:nth-of-type(4n+1) {
  transform: scale(0.8, 0.8);
  transition: all 0.35s;
}
.item:nth-of-type(4n+1) .polaroid:before {
  
  height: 20%;
  width: 47%;
  bottom: 30px;
  right: 12px;
  box-shadow: 0 2.1rem 2rem rgba(0,0,0,0.4);
}
.item:nth-of-type(4n+2) {
  transform: scale(0.8, 0.8);
  transition: all 0.35s;
}
.item:nth-of-type(4n+2) .polaroid:before {
  
  height: 20%;
  width: 47%;
  bottom: 30px;
  left: 12px;
  box-shadow: 0 2.1rem 2rem rgba(0,0,0,0.4);
}
.item:nth-of-type(4n+4) {
  transform: scale(0.8, 0.8);
  transition: all 0.35s;
}
.item:nth-of-type(4n+4) .polaroid:before {
  
  height: 20%;
  width: 47%;
  bottom: 30px;
  right: 12px;
  box-shadow: 0 2.1rem 2rem rgba(0,0,0,0.3);
}
.item:nth-of-type(4n+3) {
  transform: scale(0.8, 0.8);
  transition: all 0.35s;
}
.item:nth-of-type(4n+3) .polaroid:before {
  
  height: 20%;
  width: 47%;
  bottom: 30px;
  left: 12px;
  box-shadow: 0 2.1rem 2rem rgba(0,0,0,0.3);
}
.item:hover {
  filter: none;
  transform: scale(1, 1) rotate(0deg) !important;
  transition: all 0.35s;
}
.item:hover .polaroid:before {
  content: '';
  position: absolute;
  z-index: -1;
  transform: rotate(0deg);
  height: 90%;
  width: 90%;
  bottom: 0%;
  right: 5%;
  box-shadow: 0 1rem 3rem rgba(0,0,0,0.2);
  transition: all 0.35s;
}























