	
	div{
		box-sizing: border-box;
	}
	
	.myMeetNow{
		margin: 0 auto;
		width: 1000px;
	}

	img{
		width:230px;
		height:180;
	}
	
	.groupTitle{
		color:black;
		position: relative;
		top:-80px;
		right:80px;
	}
	
	.groupMemberCount{
		color:gray;
		position: relative;
		top:-80px;
		right:100px;
	}
	
	.myMeetGroup{
		float: left;
		width:250px;
		height:200px;
	}
	
	.carousel {
	margin-bottom: 0;
	padding: 0 40px 30px 40px;
}

.carousel-control {
	left: -12px;
}
.carousel-control.right {
	right: -12px;
}

.carousel-indicators {
	right: 50%;
	top: auto;
	bottom: 0px;
	margin-right: -19px;
}

#left{
	position:relative;
	bottom:200px;
	right:630px;
}

#right{
	position:relative;
	bottom:200px;
	left:280px;
}



#recoMeetnow{
	margin: 0 auto;
	width: 1000px;
}


.wrapper {
    display: grid;
    grid-template-columns: 250px 250px 250px;
    grid-template-rows: 200px 200px;
}

