@charset "UTF-8";

div{
	box-sizing: border-box;
}


#contents{
	background-color: #f4f6f7;
}

#wrapper{
	border: 1px solid black;
	margin: 0 auto;
	width:1000px;
	height:1800px;
	back
}

#upload-wrapper{
	border: 1px solid black;
	width:100%;
	height:30px;
}

#photo-wrapper{
	border: 1px solid black;
	width:100%;
	background-color: white;
	border-radius: 10px;
}

.photo-wrapper-img{
	width:300px;
	height:200px;
}