@charset "UTF-8";


time.icon
{
  margin-top : 10px;
  margin-left : 400px;
  font-size: 1em; /* change icon size */
  display: BLOCK;
  position: absolute;
  width: 5em;
  height: 5em;
  background-color: #fff;
  border-radius: 0.6em;
  box-shadow: 0 1px 0 #bdbdbd, 0 2px 0 #fff, 0 3px 0 #bdbdbd, 0 4px 0 #fff, 0 5px 0 #bdbdbd, 0 0 0 1px #bdbdbd;
  overflow: hidden;
}


time.icon *
{
  display: block;
  width: 100%;
  font-size: 1em;
  font-weight: bold;
  font-style: normal;
  text-align: center;
}

time.icon strong
{
  height : 2em;
  position: absolute;
  top: 0;
  padding: 0.4em 0;
  color: #fff;
  background-color: #b831d9;
  border-bottom: 1px dashed #fff;
  box-shadow: 0 2px 0 #b831d9;
}

time.icon span
{
  font-size: 2.2em;
  letter-spacing: -0.05em;
  padding-top: 0.88em;
  color: #2f2f2f;
}

.jumbotron {
   height : 250px;
   background-color: #f7f2fc;
}

.meeting-info {
   margin-left: 500px;
   width : 700px;
   float : left;
   
}

.meeting-contents {
   margin-left : 500px;
   width : 600px;
}

.btn btn-outline-primary {
   color:pink;
}