snsBts * {
	display: inline-block;
}

#profilebox {
	width: 1000px;
}

#profilebody, #profileaside {
	display: inline-block;
	width: 40%;
	padding: 10px;
	border-radius:5px;
	box-shadow:1px 1px 3px grey;
	margin:5px;
	margin-top:30px;
}
#profilebody *{
	width:100%;
}

h1,h2,h3,h4 {
	padding-bottom:10px;
	display:inline-block;
}