snsBts * {
	display: inline-block;
}

#profilebox {
	display: flex;
	justify-content: center;
}

#profilebody, #profileaside {
	vertical-align: middle;
	display: inline-block;
	height: 500px;
	width: 40%;
	padding: 10px;
	border-radius: 5px;
	box-shadow: 1px 1px 3px grey;
	margin: 5px;
	margin-top: 30px;
}

#profilebody * {
	width: 100%;
}

h1, h2, h3, h4 {
	padding-bottom: 10px;
	display: inline-block;
}

#profile-aside-header {
	margin: 0 auto;
	text-align: center;
}

#user-photo {
	height: 150px;
	width: 200px;
	display: block;
	margin: 5px auto;
	border-radius:150px;
}